@charset "UTF-8";

#header{
	background-color:#F76F26;
	width:50%;
	height:100px;
	margin-left:25%;
}

#navigater{
	background-color:#AC7A5F;
	width:50%;
	height:30px;
	margin-left:25%;
}

#content{
	background-color:#DDB49E;
	width:50%;
	height:400px;
	margin-left:25%;
}

#contentArea{
	padding-top:50px;
	padding-left:50px;
}

#pic{
	padding-top:15px;
	padding-left:5%;
}

#footer{
	background-color:#762C04;
	width:50%;
	height:50px;
	margin-left:25%;

}