<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
		<link rel="stylesheet" href="css/st1.css">
	</head>
	<body>
	<div id="header">
		<h1>會員註冊</h1>
	</div>
	<div id="navigater"></div>
	<div id="content">
		<div id="contentArea">
			<form class="pure-form pure-form-stacked" method="POST" action="/add">
			    <fieldset>
			        <legend>會員註冊</legend>
			        <label for="stacked-name">姓名</label>
			        <input type="text" id="stacked-name" name="name" placeholder="name" />
			        <label for="stacked-username">帳號</label>
			        <input type="text" id="stacked-username" name="username" placeholder="username" />
			        <label for="stacked-password">密碼</label>
			        <input type="password" id="stacked-password" name="password" placeholder="Password" />
			        <button type="submit" class="pure-button pure-button-primary">Sign in</button>
			    </fieldset>
			</form>
		</div>
	</div>
	
	<div id="footer"></div>
	
	</body>
</html>